* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: #fefffe;
}
p {
  font-size: 15px;
  opacity: 80%;
}


.our-color {
  color: #ff4a59 !important;
}

.btn {
  border-radius: 20px;
}

.navbar-toggler-icon {
  color: #fff;
}
.nav-link {
  color: #fff;
}
.nav-link:hover {
  text-decoration: underline !important;
}
.dropdown-menu a:hover {
  font-weight: bold !important;
}
header {
  background: rgb(255, 132, 110);
  background: url("./images/bg-pattern-intro-mobile.png"),
    linear-gradient(
      90deg,
      rgba(255, 97, 97, 1) 50%,
      rgba(255, 132, 110, 1) 100%
    );
    background-size: 150% 200%;
    background-position: center;
  height: 580px;
  border-radius: 0px 0px 0px 80px;
  background-repeat: no-repeat;



}

.text-header {
  text-align: center;
  color: #fff;
  padding-top: 70px;

  width: 100%;
}
.text-header p {
  opacity: 70%;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn1:hover {
  color: #fff !important;
  background-color: #ff7b86;
  border: #ff7b86;
}
.btn2 {
  color: #fff;
}
.btn2:hover {
  color: #ff4a59;
  background-color: #fff;
  border: #fff;
}

.section-1 {
  padding: 100px 10px;  
}

.img-hide{
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column;
  /* max-width: 300px; */
}
.img-hide{
  width: 100%;
  
}
.section-1 h3 {
  color: #223e54;
  padding: 5px 20px;
}
.section-1 p {
  opacity: 60%;
  padding: 5px 20px;
}

.section-2 {
  margin-top: 90px;
  padding: 170px 10px 70px 10px;
  background-color: #3a3a58;
  border-radius: 0px 80px 0px 80px;
  background-image: url(./images/bg-pattern-circles.png);
  background-size: 140%;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  text-align: center;
  color: #fff;
}

.section-2 .img-container {
  position: absolute;
  top: -150px;
}
.section-2 img {
  width: 290px;
}

.section-2 p {
  font-weight: 200 !important;
}

.section-3 {
  padding: 50px 10px;
  text-align: center;
}

.section-3 h3 {
  color: #223e54;
}

footer {
  padding: 20px 10px;
  background: #25252c;
  border-radius: 0px 80px 0px 0px;
}
footer h2 {
  font-weight: bold;
}

footer a {
  text-decoration: none;
  cursor: pointer;
  opacity: 60%;
}
footer p {
  margin-bottom: 2px !important;
}
footer a:hover {
  text-decoration: underline !important;
}